.details {
  width: 100%;
  height: auto;
}

.detailsView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingrediants {
  display: inline-block;
  padding: 3px;
  width: auto;
  height: auto;
  background-color: rgb(212, 240, 146);
  border-radius: 10px;
  margin-right: 5px;
}

.leftView {
  width: 100%;
}

.rightView {
  width: 100%;
}

.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .leftView {
    width: 60%;
  }

  .rightView {
    width: 38%;
  }

  .detailsView {
    justify-content: space-between;
  }

  .recipeImage {
    max-width: 80%;
  }
}
